<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <h1>CENTRAL HUB</h1>
    <section>
        <div>ADD TRANSLATION HERE</div>
    </section>
    <h2><a href="/nouns">NOUNS</a></h2>
</body>
</html>