<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="entry">
    <nav class="home-nav">
        <a href="/user/logout"><button class="button">LOGOUT</button></a>
    </nav>
    <h1 class="title-english">CENTRAL HUB</h1>
    <div>
        <div>Want to add a new word? Let's translate it!</div>
        <form class="translate-form">
            <input type="text" id="userInput"/>
            <input type="submit" value="Translate to Japanese">
        </form>
    <div id="translation">

    </div>
    </div>
    <section class="list-section">
        <div>
            <h2 class="sub-header">Access your lists below</h2>
        </div>
        <a href="/nouns" class="list-style">NOUNS</a></section>
</body>
</html>