<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="entry">
    <h1 class="title">日本語の図書館</h1>
    <main class="entry-buttons">
        <a href="/user/signup"><button class="signup">SIGNUP</button></a>
        <a href="/user/login"><button class="login">LOGIN</button></a>
    </main>
    <img src="https://wallup.net/wp-content/uploads/2015/12/271365-landscape-Mount_Fuji-Japan-mist-sunrise.jpg" alt="Mt Fuji" class="fuji-img">
</body>
</html>