<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class='entry-auth'>
    <h1 class="title-english">Create an account to start adding to your Japanese Library!</h1>
    <main class="enter-form">
    <form action="/user/signup" method="POST">
        <fieldset>
            <legend>SIGNUP</legend>
            <label for="username">
                Username: <input type="text" id="username" name="username"required>
            </label><br><br>
            <label for="password">
                Password: <input type="text" id="password" name="password" required>
            </label><br><br>
            <input type="submit" value="Create Account">
        </fieldset>
    </form>
</main>
<img src="https://blog.ted.com/wp-content/uploads/sites/2/2014/11/learning_a_language.png" alt="language image"> 
</body>
</html>