@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Yomogi&display=swap');

.entry, .entry-auth {
    background-color: #002c5b;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.title {
    text-align: center;
    font-family: 'Yomogi', cursive;
}
.title-english {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
img {
    width: 414px;
    height: auto;
    margin: 20px auto;
    display: block;
}
.entry-buttons {
    text-align: center;
}
.button {
    color: #fff;
    background-color: #008be6;
    font-size: 20px;
    padding: 8px;
    margin: 5px;
    border: 2px solid #fff;
}
.button:hover {
    background-color: #002c5b;
    cursor: pointer;
}
input[type="submit"]{
    background-color: #008be6;
    color: #fff;
    padding: 5px;
    border: 2px solid #fff;
}
input[type="submit"]:hover {
    background-color: #002c5b;
    cursor: pointer;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
.enter-form {
    margin: 20px;
}
.hub-nav {
    display: flex;
    justify-content: space-between;
    background-color: #008be6;
}
.home-nav {
        display: flex;
        justify-content: flex-end;
        background-color: #008be6;
}
.start-nav {
    display: flex;
    background-color: #008be6;
}
.list-section {
    margin: 10px;
}
.list-style {
    color: #91d3ff;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}
.list-style:hover {
    text-decoration: underline;
}
.show-nav {
    display: flex;
    justify-content: space-between;
    background-color: #008be6;
}
li {
    list-style-type: circle;
    margin-bottom: 20px;
}
.user-edit {
    background-color: #008be6;
}
/* phones */
@media only screen and (min-width: 576px){
    img {
        width: 536px;
    }
    .title-english, .sub-header {
        font-size: 35px;
    }
    .list-style {
        font-size: 30px;
    }
}
/* tablets */
@media only screen and (min-width: 768px){
    img {
        width: 728px;
    }
    .title, .title-english, .sub-header {
        font-size: 45px;
    }
    .list-style {
        font-size: 40px;
    }
    .button, input[type="submit"], form {
        font-size: 30px;
    }
    input[type="checkbox"]{
        height: 25px;
        width: 25px;
    }
}
/* laptops    */
@media only screen and (min-width: 992px) {
    img {
        width: 952px;
    }
    .title, .title-english, .sub-header {
        font-size: 55px;
    }
    .list-style {
        font-size: 50px;
    }
    .button, input[type="submit"], form {
        font-size: 40px;
    }
    input[type="checkbox"]{
        height: 30px;
        width: 30px;
    }
}
/* large screen */
@media only screen and (min-width: 1200px) {
    img {
        width: 1160px
    }
    .title, .title-english, .sub-header {
        font-size: 60px;
    }
    .list-style {
        font-size: 55px;
    }
    .button, input[type="submit"], form {
        font-size: 50px;
    }
    input[type="checkbox"]{
        height: 35px;
        width: 35px;
    }
}