@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Yomogi&display=swap');

.entry, .entry-auth {
    background-color: #002c5b;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.title {
    text-align: center;
    font-family: 'Yomogi', cursive;
}
.title-english {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
img {
    width: 414px;
    height: auto;
    margin: 20px auto;
    display: block;
}
.entry-buttons {
    text-align: center;
}
.button {
    color: #fff;
    background-color: #008be6;
    font-size: 20px;
    padding: 8px;
    margin: 5px;
}
.button:hover {
    background-color: #002c5b;
    cursor: pointer;
}
input[type="submit"]{
    background-color: #008be6;
    color: #fff;
    padding: 5px;
}
input[type="submit"]:hover {
    background-color: #002c5b;
    cursor: pointer;
}
.enter-form {
    margin: 20px;
}
/* phones */
@media only screen and (min-width: 576px){
    img {
        width: 536px;
    }
}
/* tablets */
@media only screen and (min-width: 768px){
    img {
        width: 728px;
    }
    .title, .title-english {
        font-size: 45px;
    }
    .button, input[type="submit"], form {
        font-size: 30px;
    }
}
/* laptops    */
@media only screen and (min-width: 992px) {
    img {
        width: 952px;
    }
    .title, .title-english {
        font-size: 55px;
    }
    .button, input[type="submit"], form {
        font-size: 40px;
    }
}
/* large screen */
@media only screen and (min-width: 1200px) {
    img {
        width: 1160px
    }
    .title, .title-english {
        font-size: 50px;
    }
    .button, input[type="submit"], form {
        font-size: 30px;
    }
}