<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <main>
        <% for (noun of nouns){ %>
            <div>
                <a href="/nouns/<%= noun._id %> ">
                <h2>
                    <%= noun.english %>
                </h2>
                </a>
                <a href="/nouns/new"><button>ADD NOUN</button></a>
            </div>
        <%}%>
    </main>
</body>
</html>