<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <div>
        <% for (noun of nouns){ %>
            <div>
                <a href="/nouns/<%= noun._id %> ">
                <h2>
                    <%= noun.english %>
                </h2>
                </a>
            </div>
        <%}%>
    </div>
</body>
</html>